<html>
	<head>
		<title><%= title %></title>
		 <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/default.css">
		<link rel="icon" href="/img/favicon.jpg" type="image/jpg" sizes="16x16">
<!-- 		<script src="/ang/angular.min.js"></script>
 --></head>
	<body>
	<div class="nav_links pull-right">
			<a href="/">Home</a> 
			<a href="/users/add">Add New Student</a> 
			<a href="/users">All Students List</a>
		</div>
	
	    <div class="main_bg"></div>
		
		<div class="app_title text-center">
		    <h2><%= title %></h2>
        </div>
  
<div class="container">


